body {
	margin: 0 auto;
	background-color: black;
}

/***************************
Top Navigation Section
***************************/

#top-nav {
	height: 4em;
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 100;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #838994;
	margin-bottom: 0;
	border-bottom: 1px solid #838994;
}

#top-nav img {
	height: 60%;
	width: 60%;
	margin-top: .8em;
	left: -21%;
	position: relative;
	float: left;
}

#top-nav-links {
	width: 55%;
	position: relative;
	float: right;
	top: -40%;
	letter-spacing: .03em;
}



#top-nav-links li{
	display: inline;
	padding: .95em;
}

#top-nav-links li:hover {
	color: black;
}

#top-nav-links a {
	text-decoration: none;
}

#top-nav-links a:visited {
	color: grey;
}

#active {
	color: #4c5058;
	font-weight: 600;
}

/***********************************
Header Section
***********************************/
#header {
	background-image: url("../images/first-background copy.jpg");
	background-size: cover;
	background-position: center bottom;
	color: white;
	text-align: center;
	height: 40em;
	width: 100%;
	position: relative;
	margin: 0 auto;
	top: 4em;
	font-family: 'Roboto', sans-serif;
}

.header-content {
	position: relative;
	font-weight: 300;
}

#header h1 {
	font-weight: 300;
	font-size: 3em;
	top: 4em;
}

#header p {
	font-size: 1.5em;
	top: 9em;
	font-weight: 300;
}

#header div {
	font-size: .8em;
	top: 19em;
	background-color: #f15a29;
	border-radius: 5px;
	max-width: 100px;
	padding: 1.5em;
	margin: 0 auto;
}

#header a {
	text-decoration: none;
}

#header div:hover {
	background-color: #d9400e;
}

#header a:visited {
	color: white;
}

/************************
Main Content Section
************************/

#main-content {
	position: relative;
	height: 30em;
	width: 100%;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 5em;
}

#main-content h1 {
	font-weight: 300;
	font-size: 2.8em;
}

#main-content img {
	height: 8.2em;
	width: 8.2em;
	padding: 2em;
}

#main-content li {
	display: inline-block;
	padding: 2.4em;
}

#main-content p {
	font-size: 1.5em;
}